.env
.venv/
__pycache__/
instance/
tests/
users_data/
Dockerfile
last.pt
yolov8n.pt
yolo26n.pt
best.pt
bite.txt
main - Copy.py
othernote.txt
datasets/
test/
.pytest_cache/
.continue

best.pt
best_openvino_model/
yolo26n.pt
yolo26n_int8_openvino_model/