torch
torchvision
torchaudio --index-url https://download.pytorch.org/whl/cu121
ultralytics
opencv-contrib-python
Pillow
flask
flask-login
flask-sqlalchemy
werkzeug
face-recognition
pyotp
qrcode
cryptography
python-dotenv
